
.container
	.jumbotron.center
		%h1{style: "color: #008080;"} Welcome
		%p Welcome to the Show
		=link_to 'Sign Up Now', signup_path, class: "btn btn-primary btn-lg", style: "background-color: #008080"
